**/node_modules/**
/flow-typed/npm
**/datasets/**
**/__generated__/**
apps/graphql/lambda/dist
apps/web/out
apps/web/.next
apps/landingPage/.cache
apps/landingPage/public
apps/storybook/config/storyLoader.js
packages/components/storybook/story-loader.js
