**/node_modules/**
/flow-typed/npm
**/datasets/**
**/__generated__/**
apps/graphql/lambda/dist
apps/web/out
apps/web/.next
apps/landingPage/out
apps/landingPage/.next
apps/storybook/config/storyLoader.js
packages/universal-components/lib
