{
  "presets": [
      "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "displayName": true,
        "ssr": true,
      }
    ],
      "transform-flow-strip-types",
  ]
}